{% extends "!layout.html" %}
{% block extrahead %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-54058631-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-54058631-1');
    </script>
    {{ super() }}
{% endblock %} 

{% block footer  %}
    {{ super() }}
<div class="footer" role="contentinfo">
<center><img alt="Uptime Robot ratio (30 days)" src="https://img.shields.io/uptimerobot/ratio/m782742749-de3c19da320577d61abbf39a.svg?style=plastic"></center>
</div>
{% endblock %}
